*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px/16px = 0.625 */
  // Define lo que 1rem que es
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
